<html>

<body>
    <h3 style="display: none;" id="h">{{ utc_dt }}</h3>
    <div id="visualization" style="width: 800px; height: 500px;"></div>
    <button id="b1">Добавить</button>
    <button id="b2">Удалить</button>
</body>

<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart', 'bar'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var options = {
                width: 400,
                height: 240,
                vAxis: { minValue: 0, maxValue: 1000 },
                animation: {
                    duration: 1000,
                    easing: 'out'
                }
            };

            var chart = new google.visualization.ColumnChart(
                document.getElementById('visualization'));
            var chars = 'ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz';
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'x');
            data.addColumn('number', '');
            data.addRow(['B', 17]);
            console.log(data)



            var addButton = document.getElementById('b1');
            var removeButton = document.getElementById('b2');
            function drawChart() {
                // Disabling the buttons while the chart is drawing.
                addButton.disabled = true;
                removeButton.disabled = true;
                google.visualization.events.addListener(chart, 'ready',
                    function () {
                        // Enabling only relevant buttons.
                        addButton.disabled = (data.getNumberOfColumns() - 1) >= chars.length;
                        removeButton.disabled = (data.getNumberOfColumns() - 1) < 2;
                    });
                chart.draw(data, options);
            }
            function shuffleAndDrawChart() {
                for (var i = 0; i < data.getNumberOfRows(); ++i) {
                    for (var j = 1; j < data.getNumberOfColumns(); ++j) {
                        var num = Math.floor(Math.random() * 1000);
                        data.setValue(i, j, num);
                    }
                }
                console.log(data)
                drawChart();
            }
            addButton.onclick = function () {
                data.addColumn('number', chars[data.getNumberOfColumns() - 1]);
                shuffleAndDrawChart();
            }
            removeButton.onclick = function () {
                data.removeColumn(data.getNumberOfColumns() - 1);
                shuffleAndDrawChart();
            }
            drawChart();
        };

    </script>
</head>

</html>