<html>
  <body>
    <h3 style="display: none;" id="h">{{ utc_dt }}</h3>
    <div id="visualization" style="width: 800px; height: 800px;"></div>
    <button id="b1">Назад</button>
    <button id="b2">Далее</button>
    <button id="b3">Изменить масштаб</button>
  </body>
<head>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    let higher_education = document.getElementById("h").innerHTML.replaceAll("'", "\"");
    let higher_education_json = JSON.parse(higher_education);

    let education = [];

    higher_education_json.forEach(element => {
      education.push([element["abbreviation"], element["coast"]]);
    });

    function drawChart() {
      var options = {
        title: "Цена за обучение в ВУЗах",
        width: 800,
        height: 800,
        animation: {
          duration: 1000,
          easing: 'in'
        },
        hAxis: { viewWindow: { min: 0, max: 10 } },
        legend: { position: "none" },
      };

      var chart = new google.visualization.SteppedAreaChart(
        document.getElementById('visualization'));


      var data = new google.visualization.DataTable();
      data.addColumn('string', 'x');
      data.addColumn('number', 'Цена');
      data.addRows(education)
      
      var MAX = education.length;

      var prevButton = document.getElementById('b1');
      var nextButton = document.getElementById('b2');
      var changeZoomButton = document.getElementById('b3');

      function drawChart() {
        prevButton.disabled = true;
        nextButton.disabled = true;
        changeZoomButton.disabled = true;
        google.visualization.events.addListener(chart, 'ready',
          function () {
            prevButton.disabled = options.hAxis.viewWindow.min <= 0;
            nextButton.disabled = options.hAxis.viewWindow.max >= MAX;
            changeZoomButton.disabled = false;
          });
        chart.draw(data, options);
      }

      prevButton.onclick = function () {
        options.hAxis.viewWindow.min -= 1;
        options.hAxis.viewWindow.max -= 1;
        drawChart();
      }
      nextButton.onclick = function () {
        options.hAxis.viewWindow.min += 1;
        options.hAxis.viewWindow.max += 1;
        drawChart();
      }
      var zoomed = false;
      changeZoomButton.onclick = function () {
        if (zoomed) {
          options.hAxis.viewWindow.min = 0;
          options.hAxis.viewWindow.max = 5;
        } else {
          options.hAxis.viewWindow.min = 0;
          options.hAxis.viewWindow.max = MAX;
        }
        zoomed = !zoomed;
        drawChart();
      }
      drawChart();
    }
  </script>
</head>



</html>